/* ANT style overrides */
.ant-menu-horizontal .ant-menu-submenu-title {
  padding: 0 10px;
}

/* override styles */
.ant-input-search-icon::before {
  border-left: none !important;
}

.ant-input-search {
  border-radius: 20px;
  margin-top: 20px;
}

.ant-select-dropdown {
  border-radius: 5px;
}

.ant-tag {
  border-radius: 10px;
  margin: 8px 8px 8px 0px !important;
}

.react-images__view-image {
  max-height: 100vh !important;
}
/* util styles */
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.bottom-align {
  display: flex;
  align-items: flex-end;
}

.right-align {
  display: flex;
  justify-content: flex-end;
}

.center-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-center-align {
  display: flex;
  align-items: center;
}

.horizontal-center-align {
  display: flex;
  justify-content: center;
}

.baseline-align {
  display: flex;
  align-items: baseline;
}
