/* ANT style overrides */
.ant-menu-horizontal .ant-menu-submenu-title {
  padding: 0 10px;
}

.ant-timeline-item-head-custom {
  background-color: transparent;
}

// .ant-btn {
//   box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12) !important;
// }

// .ant-btn-link {
//   box-shadow: none !important;
// }

/* Custom styles */
.input-select-group {
  display: flex;
  padding: 4px 0px;
}

.input-select-group .ant-select {
  width: 150px;
  padding-left: 4px;
}

.business-list-item > * {
  width: 100%;
  padding: 12px;
}

.business-list-item > *:hover {
  background: #e6f7ff;
}

.business-list-item {
  border-bottom: 1px solid #e8e8e8 !important;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.bottom-align {
  display: flex;
  align-items: flex-end;
}

.right-align {
  display: flex;
  justify-content: flex-end;
}

.center-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-center-align {
  display: flex;
  align-items: center;
}

.baseline-align {
  display: flex;
  align-items: baseline;
}

.obiman-x-large-font {
  font-family: Megrim;
  font-size: x-large;
}

.obiman-qr-scanner {
  width: 100vw;
  max-width: 600px;
}

.obiman-qr-scanner > section > div {
  box-shadow: rgb(44, 151, 254) 0px 0px 0px 5px inset !important;
}